table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;    
}
/* Estilos específicos para las cabeceras de las columnas */
th {
    cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa sobre las cabeceras */
}
/* Estilos para el botón de volver */
button {
    margin-top: 20px;
}


